{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
        <a class="btn btn-outline-primary mt-3 mb-4" href="{% url 'catalog:create_product'%}">Добавить продукт</a>
        {% for product in product_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ product.purchase_price}}</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        {{product.description | first_100}}
                        <img class="card-img-top"
                        src="{% mediapath product.image %}"
                        alt="Card image cap" />
                    </ul>
                    <form action="" method="post">
                        <a class="btn btn-sm btn-outline-secondary mt-3 mb-2" href="{% url 'catalog:product' product.pk %}">Просмотреть</a>
                        {% if perms.catalog.change_product %}
                        <a class="btn btn-sm btn-outline-secondary mt-3 mb-2" href="{% url 'catalog:edit_product' product.pk %}">Изменить</a>
                        {% endif %}
                        {% if perms.catalog.delete_product %}
                        <a class="btn btn-sm btn-outline-secondary mt-3 mb-2" href="{% url 'catalog:delete_product' product.pk %}">Удалить</a>
                        {% endif %}
                        {% if perms.catalog.published_posts %}
                        {% if product.is_published == "published" %}
                        <a class="btn btn-sm btn btn-warning mt-3 " href="{% url 'catalog:status_product' product.pk %}">Снять с публикации</a>
                        {% else %}
                        <a class="btn btn-sm btn btn-success mt-3 " href="{% url 'catalog:status_product' product.pk %}">Опубликовать</a>
                        {% endif%}
                        {% endif %}

                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
{% endblock %}